<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Tutors</title>
</head>
<body>
    <h1>
        You're logged in as <span th:text="${#authentication.name}"></span>
    </h1>
    <button id="myButton" class="float-left submit-button" >Home</button>

    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "/uclan/tutors";
        };
    </script>
</body>
</html>